body {
    background: #333131;
}

.text {
    color: aliceblue;
}

.rectangle {
    position:fixed;
    right: 50px;
    bottom: 100px;
}
.rectangle {
    background: #fff;
    min-height: 100px;
    width: 50%;
    border-radius: 10px; 
}

.circle {
    position:fixed;
    right: 40%;
    bottom: 150px;
}
.circle {
    background: #c43a3a;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}