body {
    background-color: #302d2d;
}

.wrapper {
    padding: 50px;
    height: 100%;
}

.container {
    position: relative;
    height: 200px;
    background-color: antiquewhite;
}

.circle {
    position: absolute;
    background-color: #c4acda;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.circle {
    animation: move-circle 5s infinite 1s,
        color-circle 5s infinite 1s;
}

@keyframes move-circle {
    0% {
        left: 0%;
    }

    25% {
        bottom: 15%
    }

    50% {
        bottom: 0%;
    }

    75% {
        bottom: 15%
    }

    100% {
        left: calc(100% - 200px);
        bottom: 0%;
    }
}

@keyframes color-circle {
    0% {
        background-color: #c4acda;
    }

    25% {
        background-color: #72c0c0;
    }

    50% {
        background-color: #f58164;
    }

    100% {
        background-color: #d85c96;
    }
}